@font-face {
    font-family: 'Cormorant SC';
    src: url('CormorantSC-Bold.woff2') format('woff2'),
        url('CormorantSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant SC';
    src: url('CormorantSC-SemiBold.woff2') format('woff2'),
        url('CormorantSC-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

